
.centered-form {
    display: flex;
    justify-content:end;
    align-items: center;
    height: 70vh;
    background: url("../carImage1.avif");
    background-repeat: no-repeat;
    min-width: 940px;
    color:aqua;
    padding-top: 80px;
    background-color: black;
}

/* Adjust the width of the form */
.form-container {
    padding-right: 80px;
    width: 400px; 
}
.passwordInput{
    display: flex;
    gap:5px
}